<ion-header>
  <ion-toolbar>
    <ion-title>
      <!-- Detalhes -->
      {{pageTitle}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close-circle" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-header>
  <ion-navbar>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content class="content" padding>
  <!-- <page-esp-commands (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-commands> -->
  <!-- <page-esp-time-events  (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-time-events> -->
  <!-- <page-esp-presence-events (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-presence-events> -->
  <!-- <page-esp-light-events (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-light-events> -->
  <!-- <page-esp-config (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-config> -->
  <!-- <page-esp-clock (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-clock> -->

  <page-esp-commands *ngIf="pageMode === 1" showMainCmds="true" (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-commands>
  <page-esp-commands *ngIf="pageMode === 2" showStatus="true" (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-commands>
  <page-esp-commands *ngIf="pageMode === 3" showRGBCmds="true" (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-commands>

  <page-esp-time-events *ngIf="pageMode === 4" (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-time-events>

  <page-esp-presence-events *ngIf="pageMode === 5" (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-presence-events>

  <page-esp-light-events *ngIf="pageMode === 6" (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-light-events>

  <page-esp-clock *ngIf="pageMode === 7" (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-clock>

  <page-esp-config *ngIf="pageMode === 8" (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-config>

  <page-esp-detail *ngIf="pageMode === 30" (onNewOffLineData)="newOffLineData($event)" [item]="device"></page-esp-detail>
  <page-esp-edit *ngIf="pageMode === 31" (onNewOnLineData)="newOnLineData($event)" [item]="device"></page-esp-edit>
  <page-esp-share *ngIf="pageMode === 32" (onNewOnLineData)="newOnLineData($event)" [item]="device"></page-esp-share>
</ion-content>
