page-module-list {
  ion-icon.espMod1OnStyle {
    font-size: 5rem;
    color: #FFD700;
  }
  ion-icon.espMod1OffStyle {
    font-size: 5rem;
    color: CadetBlue;
  }
  ion-icon.espMod1UnKnowStyle {
    font-size: 5rem;
    color: gray;
  }

  p {
    color: red;
    text-align: center;
}
}
